<IfModule mod_rewrite.c>

<Files ".ht*">
    Require all denied
</Files>

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^ /index.php [QSA,L]

</IfModule>